# ignore all root items
/*
utils/
data_files/canoe_df/
data_files/canoe_df_subsets/
data_files/CANOE_STEEL/
data_files/houseflow_dfs
data_files/my_configs/houseflow_configs/
output_files/


# unignore folders
!temoa/
!tests/
!docs/
!data_files/
!notebooks/
!output_files/
!.github/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!requirements*.txt
!LICENSE.txt
!CHANGELOG.md
!CONTRIBUTING.md
!.pre-commit-config.yaml


# recursively re-ignore
__pycache__

# ignore built docs
docs/_build